@charset "utf-8";
/* font-family: "RexLight"; */
@font-face {
    font-family: "RexLight";
    src: url("fonts/RexLight/RexLight.eot");
    src: url("fonts/RexLight/RexLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/RexLight/RexLight.woff") format("woff"),
    url("fonts/RexLight/RexLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RexBold"; */
@font-face {
    font-family: "RexBold";
    src: url("fonts/RexBold/RexBold.eot");
    src: url("fonts/RexBold/RexBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/RexBold/RexBold.woff") format("woff"),
    url("fonts/RexBold/RexBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RexBoldInline"; */
@font-face {
    font-family: "RexBoldInline";
    src: url("fonts/RexBoldInline/RexBoldInline.eot");
    src: url("fonts/RexBoldInline/RexBoldInline.eot?#iefix")format("embedded-opentype"),
    url("fonts/RexBoldInline/RexBoldInline.woff") format("woff"),
    url("fonts/RexBoldInline/RexBoldInline.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
	background: #111;
	color: #fff;
	font-family: "RexLight", serif;
	font-size: 16px;
}
.flex-c{
display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
	  display: -webkit-flex;
  	display: flex;
		flex-flow: row nowrap;
		-webkit-justify-content: center;
						justify-content: center;
  	-webkit-align-items: center;
  	        align-items: center;
  }
.flex-sb{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
	  display: -webkit-flex;
  	display: flex;
		flex-flow: row nowrap;
		-webkit-justify-content: space-between;
						justify-content: space-between;
  	-webkit-align-items: center;
  	        align-items: center;
}
.flex-s{
	display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
	  display: -webkit-flex;
  	display: flex;
		flex-flow: row nowrap;
		-webkit-justify-content: flex-start;
						justify-content: flex-start;
  	-webkit-align-items: center;
  	        align-items: center;
}
.-wrap{
	flex-flow: row wrap;
}
h1{
	font-family: "RexBold", serif;
	font-size: 2em;
}
h2{
	font-family: "RexBold", serif;
	font-size: 1.625em;
}
h3{
	font-family: "RexBold",serif;
	font-size: 1,375em;
}
p{
	font-family: "RexLight",serif;
	font-size: 1em;
	line-height: 1.25em;
}
@media all and (min-width: 1024px) {
	.container {
		padding: 0 20vw;
	}
/*HEAD*/
	#top-hed{
		position: relative;
		display: block;
		width: 100%;
	}
	#top-hed h1{
		padding: 5%;
		font-size: 5em;
		text-align: center;
	}
/*Биография*/
	.bio{
		position: relative;
		margin: 0 auto;
		height: 200px;
		width: 26%;
	}
	.man{
		position: relative;
		display: inline;
		height: 100%;
		margin-left: 10px;
	}
	#serg img{
		height: 95%;
	}
	#misha img{
		height: 100%;
	}
	#dima img{
		height: 95%;
	}
	#egor img{
		height: 85%;
	}
	.bio-exp{
		display: none;
		padding: 20px;
		height: 30vh;
		width: 30vw;
		background: #333;
		overflow: hidden;
		background: #555;
		z-index: 2;
	}
	.bio-exp img{
		height: 100%;
		float: left;
		margin-right: 20px;
	}
	#serg:hover~.bio-exp{
		position: absolute;
		display: block;
	}
	#misha:hover~.bio-exp{
		position: absolute;
		display: block;
	}
	#misha:hover~.bio-exp img{ /*Грязный фикс, нужно все картинки одинаковой ориентации и ширины*/
		height: auto;
		width: 50%;
	}
	#dima:hover~.bio-exp{
		position: absolute;
		display: block;
	}
	#egor:hover~.bio-exp{
		position: absolute;
		display: block;
	}
	#egor:hover~.bio-exp img{ /*Грязный фикс, нужно все картинки одинаковой ориентации и ширины*/
		height: auto;
		width: 50%;
	}
/*Конец Биография*/
/*SIDEBAR*/
	#sidebar{
		position: relative;
		display: block;
		height: 10vh;
		width: 100%;
		background: #000;
		margin-top: -30px;
		border-bottom: 4px solid #333;
	}
	.logo{
		height: 100%;
		margin: 0 5%; 
		float: left;
	}
	.logo img{
		height: 100%;
	}
	#top-menu{
		position: relative;
		display: inline-block;
		margin-right: 5%;
		height: 100%;
		float: right;
	}
	#top-menu ul{
		position: relative;
		display: block;
		height: 100%;
	}
	.pt-nav{
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 1.25em;
		font-size: 1.25em;
		font-family: "RexBold", serif;
		text-align: center;
	}
	.aNav{
		position: relative;
		display: inline-block;
		margin-left: 10px;
		height: 100%;
		min-width: 5em;
		width: 1px;
	}
	.aNav:hover{
		border-bottom: 4px solid #421766;
	}
/*END SIDEBAR*/
/*END HEAD*/
/*MUSIC*/
	#music{
		position: relative;
		width: 100%;
		box-sizing: border-box;
	}
	#music h1{
		padding: 5%;
		font-size: 4em;
		text-align: center;
	}
	.content-album{
		position: relative;
		width: 100%;
		box-sizing: border-box;
		padding: 5% 0;
		background: #333;
	}
	.alb{
		width: 20%;
	}
	.alb img{
		width: 100%;
	}
	/*END MUSIC*/
	/*TIMELINE*/
	#timeline{
		position: relative;

	}
	#timeline h1{
		padding: 5%;
		font-size: 4em;
		text-align: center;
	}
	.time-box{
		position: relative;
		background: #333;
		height: 250px;
	}
	.time-line{
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 2px;
		background: yellow;
	}
	.kt-box{
		position: relative;
		height: 100%;
	}
	.kt{
		position: relative;
		box-sizing: border-box;
		margin-left: 4%;
		padding: 18px;
		border: 10px solid white;
	}
	.kt:hover{
		border:15px solid #421766;
	}
	.kt:hover .history{
		display: block;
	}
	.history{
		position: absolute;
		display: none;
		width: 40vw;
		padding: 20px;
		margin: ;
		background: #555;
		z-index: 2;
	}
	.his-txt {
		margin-top: 10px;
		height: 200px;
	}
	.his-txt img{
		height: 100%;
		float: left;
		margin-right: 15px;
	}
	.his-txt p{
		display: inline;
		font-size: 1em;
	}
	.history footer{
		margin-top: 10px;
		text-align: right;
	}
	._2013:before{
    content: '2013';
    position: absolute;
    font-family: "RexBold", serif;
    font-size: 1.75em;
    top: -1.5em;
    left: -0.25em;
	}
	._2014:before{
    content: '2014';
    position: absolute;
    font-family: "RexBold", serif;
    font-size: 1.75em;
    top: -1.5em;
    left: -0.25em;
  }
   ._2015:before{
    content: '2015';
    position: absolute;
    font-family: "RexBold", serif;
    font-size: 1.75em;
    top: -1.5em;
    left: -0.25em;
  }
   ._2016:before{
    content: '2016';
    position: absolute;
    font-family: "RexBold", serif;
    font-size: 1.75em;
    top: -1.5em;
    left: -0.25em;
  }
/*END TIMELINE*/
/*FOOTER*/
	#contact{
		position: relative;
		margin-top: 10%;
		background: #000;
		padding: 2% 40%;
	}
	.hed-foot{
		font-size: 1em;
	}
	.social_networks{
		position: relative;
		display: block;
		margin-top: 30px;
	}
	.seti{
		display: inline-block;
		height: 50px;
		padding: 10px;
		margin-left: 10px;
	}
	.seti:hover{
		background: #421766;
	}
	.seti:first-child {
		margin-left: 0px;
	}
	.seti img{
		height: 100%;
	}
/*END FOOTER*/
}

	